<div class="container-fluid">
  <div class="form-group">
    <input type="text"
           class="form-control"
           id="search"
           placeholder="Search by name"
           #searchInput>
  </div>
  <div *ngIf="filteredProducts$ | async as products;"
       class="card-deck">
    <app-product-list-item *ngFor="let p of products; trackBy: trackByFn"
                           [product]="p"
                           (favoriteClick)="onFavoriteClick($event)"></app-product-list-item>
  </div>
</div>